<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
   <parameter name="mobileNoInp" value="9176234576"/>

    <classes>
      <class name="org.tcs.Practice"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
